name: {{project_name.snakeCase()}}

concurrency:
  group: ${{#mustacheCase}}github.workflow{{/mustacheCase}}-${{#mustacheCase}}github.ref{{/mustacheCase}}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    paths:
      - "api/**"
      - "lib/**"
      - "test/**"
      - "packages/**"
      - "pubspec.yaml"
      - ".github/workflows/{{project_name.snakeCase()}}.yaml"
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        channel: [stable]

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2.16.0
        with:
          channel: ${{#mustacheCase}}matrix.channel{{/mustacheCase}}
          flutter-version: {{flutter_version}}
          cache: false

      - name: Install Dependencies
        run: |
          flutter pub global activate very_good_cli
          very_good packages get --recursive

      - name: Format
        run: dart format --set-exit-if-changed lib test

      - name: Analyze
        run: flutter analyze lib test

      - name: Verify Generated Files Committed
        run: flutter test ./test/ensure_build_test.dart --run-skipped

      - name: Run tests
        run: very_good test -x presubmit-only --coverage --test-randomize-ordering-seed random

      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          exclude: "**/*.g.dart **/*.gen.dart **/l10n/*.dart **/l10n/**/*.dart **/main/bootstrap.dart"
          path: coverage/lcov.info

      - name: Generate Visual Architecture
        env:
          FLUTTER_DART_HOME: ${{#mustacheCase}}env.FLUTTER_HOME{{/mustacheCase}}/bin/cache/dart-sdk/bin
          FLUTTER_PUB_CACHE: ${{#mustacheCase}}env.FLUTTER_HOME{{/mustacheCase}}/.pub-cache/bin
        run: |
          flutter pub global activate pubviz
          export PATH=$PATH:$FLUTTER_DART_HOME
          export PATH=$PATH:$FLUTTER_PUB_CACHE
          pubviz print -d > pubviz.html

      - name: Upload Visual Architecture Artifact
        uses: actions/upload-artifact@v4
        with:
          name: visual-architecture-report
          path: ./pubviz.html
