<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737894073936-ccvknt0jpr1nk3uhftg14k8duirosg9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737894073936-ccvknt0jpr1nk3uhftg14k8duirosg9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737894073936-epltqsgbon16uf53qm3l49vsva3ejp7f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR94XfTOV3fjENKDoKQuqX6pmuGwJPS5I</string>
	<key>GCM_SENDER_ID</key>
	<string>737894073936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.news.template.dev</string>
	<key>PROJECT_ID</key>
	<string>news-template-644a1</string>
	<key>STORAGE_BUCKET</key>
	<string>news-template-644a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737894073936:ios:b9ecf7c188122cfcb03355</string>
</dict>
</plist>