.DS_Store
.atom/
.idea/
.vscode/
!google_news_**/.idea/
!flutter_news_**/.idea/
!google_news_**/.vscode/
!flutter_news_**/.vscode/

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/
tmp/