<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{reverse_domain}}">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
     <!--Required for Android 13 or above-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    
</manifest>
