name: firebase_deep_link_client

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "flutter_news_example/packages/deep_link_client/firebase_deep_link_client/**"
      - ".github/workflows/firebase_deep_link_client.yaml"
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: 3.22.2
      working_directory: flutter_news_example/packages/deep_link_client/firebase_deep_link_client
