name: in_app_purchase_repository

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "google_news_example/packages/in_app_purchase_repository/**"
      - ".github/workflows/in_app_purchase_repository.yaml"
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter: 3.0.0
      working_directory: google_news_example/packages/in_app_purchase_repository
