name: persistent_storage

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "flutter_news_example/packages/storage/persistent_storage/**"
      - ".github/workflows/persistent_storage.yaml"
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      coverage_excludes: "**/*.g.dart"
      flutter_version: 3.24.2
      working_directory: flutter_news_example/packages/storage/persistent_storage
