name: secure_storage

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "google_news_example/packages/storage/secure_storage/**"
      - ".github/workflows/secure_storage.yaml"
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      coverage_excludes: "**/*.g.dart"
      flutter_version: 3.3.4
      working_directory: google_news_example/packages/storage/secure_storage
